.accordion {
	--accordion-time: 0.3s;
	&__container {
		&-text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-right: 18px;
		}
	}
	&__title {
		color: var(--black-color);
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
		margin-bottom: 8px;
		text-align: left;
		&-top {
			font-size: 14px;
			line-height: 1.2;
			color: var(--blue-color);
			text-transform: uppercase;
			margin-bottom: 10px;
			font-weight: 600;
			text-align: left;
		}
		&-content {
			font-size: 18px;
			line-height: 1.2;
			font-weight: 600;
			color: var(--black-color);
		}
	}
	&__descr {
		color: var(--black-color);
		font-size: 16px;
		line-height: 1.5;
		text-align: left;
		max-width: 1100px;
	}
	&__control {
		position: relative;
		width: 100%;
		border-radius: 20px;
		padding: 40px 60px 40px 40px;
		background: var(--accordion-bg-color);
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
	}
	&__content {
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		padding: 0 20px;
		will-change: max-height;
		transition: all var(--accordion-time) ease-out;
		box-sizing: content-box;
		& .accordion__title-content:not(:first-child) {
			margin-top: 10px;
		}
	}
	&__arrow {
		transition: rotate 0.3s ease;
	}
	&-is-open {
		& .accordion {
			&__arrow {
				rotate: 180deg;
			}
			&__content {
				opacity: 1;
				padding: 20px;
			}
		}
	}
}

@media (max-width: 1024px) {
	.accordion {
		&__control {
			padding: 40px;
		}
	}
}

@media (max-width: 768px) {
	.accordion {
		&__control {
			padding: 30px;
		}
		&__title {
			font-size: 18px;
			&-content {
				font-size: 16px;
			}
		}
		&__descr {
			font-size: 14px;
		}
		&__content {
			padding: 0px 15px;
		}
		&-is-open {
			& .accordion {
				&__content {
					padding: 15px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.accordion {
		&__control {
			padding: 20px;
		}
		&__title {
			font-size: 16px;
		}
	}
}
