.list {
	margin-top: 8px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	&__item {
		position: relative;
		min-height: 30px;
		line-height: 1.4;
		&::before {
			content: "";
			position: absolute;
			left: -16px;
			top: 9px;
			width: 7px;
			height: 7px;
			background: var(--blue-color);
			border-radius: 100%;
		}
	}
}

@media (max-width: 768px) {
	.list {
		padding-left: 14px;
		&__item {
			letter-spacing: -0.3px;
			font-size: 16px;
			&::before {
				left: -12px;
				top: 8px;
				width: 5px;
				height: 5px;
			}
		}
	}
}
