<section class="cfg">
	<div class="container cfg__container">
		<h2 class="title title__h2 cfg__title">Конфигурации 1C для интеграции с Битрикс24</h2>
		<h5 class="title cfg__subtitle">
			Коннектор к 1С 3.0
			<div class="tooltip">
				<img
					src="./img/question-mark.svg"
					class="image tooltip__icon"
					width="12"
					height="12"
					alt="Знак вопроса"
				/>
				<div class="tooltip__text">Облачная и коробочная версии Битрикс24</div>
			</div>
		</h5>
		<ul class="list-reset cfg__list cfg__list-countries">
			<li class="cfg__item">
				<h4 class="title cfg__country">Россия</h4>
				<div class="cfg__tags">
					<h5 class="title title__h5 cfg__tag">Коробочная версия 1С</h5>
					<h5 class="title title__h5 title__h5-blue cfg__tag">1С:ФРЕШ</h5>
				</div>
				<ul class="list-reset cfg__versions">
					<li class="cfg__version">Бухгалтерия предприятия, ред. 3.0</li>
					<li class="cfg__version">Бухгалтерия для Беларуси, ред. 2.1</li>
					<li class="cfg__version">Управление торговлей, ред. 11</li>
					<li class="cfg__version">Комплексная автоматизация, ред. 2</li>
					<li class="cfg__version">ERP Управление предприятием, ред. 2</li>
				</ul>
			</li>
			<li class="cfg__item">
				<h4 class="title cfg__country">Беларусь</h4>
				<div class="cfg__tags">
					<h5 class="title title__h5 cfg__tag">Коробочная версия 1С</h5>
				</div>
				<ul class="list-reset cfg__versions">
					<li class="cfg__version">Управление компанией для Беларуси, ред. 3.0</li>
					<li class="cfg__version">Бухгалтерия для Беларуси, ред. 2.1</li>
					<li class="cfg__version">Управление торговлей для Беларуси, ред. 3.5</li>
				</ul>
			</li>
			<li class="cfg__item">
				<h4 class="title cfg__country">Казахстан</h4>
				<div class="cfg__tags">
					<h5 class="title title__h5 cfg__tag">Коробочная версия 1С</h5>
				</div>
				<ul class="list-reset cfg__versions">
					<li class="cfg__version">Бухгалтерия для Казахстана, ред. 3.0</li>
				</ul>
			</li>
		</ul>
		<h5 class="title cfg__subtitle">
			Выгрузка кадровой информации и просмотр расчетных листков
			<div class="tooltip">
				<img
					src="./img/question-mark.svg"
					class="image tooltip__icon"
					width="12"
					height="12"
					alt="Знак вопроса"
				/>
				<div class="tooltip__text">Только коробочная версия Битрикс24</div>
			</div>
		</h5>
		<ul class="list-reset cfg__list cfg__list-single">
			<li class="cfg__item">
				<h4 class="title cfg__country cfg__country-single">Россия</h4>
				<ul class="list-reset cfg__versions">
					<li class="cfg__version">1С:Зарплата и управление персоналом, ред. 3.1</li>
					<li class="cfg__version">
						Продукты 1С-Битрикс: Корпоративный портал и 1С:Зарплата и управление персоналом интегрированы в
						коробочной поставке, что позволяет сразу после приобретения и инсталляции систем приступить к
						настройке выгрузки данных.
					</li>
				</ul>
			</li>
		</ul>
		<div class="cfg__version cfg__version-outer">
			Каждая конфигурация 1С имеет свои особенности обмена данными. Например, 1С:Бухгалтерия обменивается только
			счетами, а 1С:Управление торговлей обменивается с Битрикс24 сделками и заказами.
		</div>
	</div>
</section>
