<section class="data">
	<div class="container data__container">
		<div class="data__side">
			<h2 class="title title__h2 data__title">Какими данными обмениваются Битрикс24 и 1С</h2>
			<h5 class="title title__h5 data__subtitle">Для облачного и коробочного Битрикс24</h5>
			<ul class="list-reset list data__list">
				<li class="title__h4 list__item">Контакты и компании</li>
				<li class="title__h4 list__item">Сделки и счета (новые и старые)</li>
				<li class="title__h4 list__item">Реквизиты и банковские счета</li>
				<li class="title__h4 list__item">Товары и их свойства, разделы</li>
				<li class="title__h4 list__item">
					Прайсы и доступный остаток
					<div class="tooltip">
						<img
							src="./img/question-mark.svg"
							class="image tooltip__icon"
							width="12"
							height="12"
							alt="Знак вопроса"
						/>
						<div class="tooltip__text">Только из 1С в Битрикс24</div>
					</div>
				</li>
				<li class="title__h4 list__item">Заказы, оплаты, отгрузки, поля</li>
				<li class="title__h4 list__item">
					Печатные формы документов
					<div class="tooltip">
						<img
							src="./img/question-mark.svg"
							class="image tooltip__icon"
							width="12"
							height="12"
							alt="Знак вопроса"
						/>
						<div class="tooltip__text">Только из 1С в Битрикс24</div>
					</div>
				</li>
				<li class="title__h4 list__item">Смарт-процессы</li>
			</ul>
			<h5 class="title title__h5 data__subtitle">Только для коробочного Битрикс24</h5>
			<ul class="list-reset list data__list">
				<li class="title__h4 list__item">
					Передача данных о сотрудниках и кадровых изменениях
					<div class="tooltip">
						<img
							src="./img/question-mark.svg"
							class="image tooltip__icon"
							width="12"
							height="12"
							alt="Знак вопроса"
						/>
						<div class="tooltip__text">Только из 1С в Битрикс24</div>
					</div>
				</li>
			</ul>
		</div>
		<img src="./img/data-image.png" class="image data__image" width="800" height="720" alt="1c Битрикс картинка" />
	</div>
</section>
