<section class="hero">
	<div class="container hero__container">
		<div class="hero__content">
			<div class="hero__container-inner">
				<h1 class="title title__h1 hero__title">Интеграция Битрикс24 и 1С</h1>
				<h2 class="title hero__subtitle">Обмен данными в режиме реального времени</h2>
				<p class="title hero__paragraph">
					Работайте на максимальных скоростях! Не нужно вводить данные дважды — больше никаких ошибок и
					дополнительных затрат.
				</p>
				<div class="hero__container-buttons">
					<!-- должна вести на секцию Возможности интеграции -->
					<a href="#how" class="btn-reset button__primary hero__button"> Настроить интеграцию </a>
				</div>
			</div>
			<iframe
				class="hero__frame"
				width="480"
				height="270"
				id="J8qkVITuOMQ_video_x59wtdwr"
				class="youtube-video-player__iframe"
				frameborder="0"
				allowfullscreen=""
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				title="Интеграция 1С и Битрикс24.CRM"
				src="https://www.youtube.com/embed/J8qkVITuOMQ?autoplay=1&amp;cc_load_policy=0&amp;color=red&amp;controls=1&amp;disablekb=1&amp;enablejsapi=1&amp;fs=1&amp;iv_load_policy=3&amp;loop=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;mute=1&amp;origin=https%3A%2F%2Fwww.bitrix24.ru&amp;widgetid=2"
				data-gtm-yt-inspected-1451531_1439="true"
			></iframe>
		</div>
	</div>
	<div class="hero__container-bordered">
		<div class="container">
			<div class="hero__header">
				<a class="hero__link hero__link-active" href="https://www.bitrix24.ru/features/company.php?p=6571969">
					Совместная работа
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/crm/?p=6571969">CRM</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/copilot/?p=6571969">
					CoPilot
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/chat/?p=6571969">Чат</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/tasks/?p=6571969">
					Задачи и проекты
				</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/sites/?p=6571969">Сайты</a>
				<a class="hero__link" target="_blank" href="https://www.bitrix24.ru/features/shop/?p=6571969">
					Магазины
				</a>
			</div>
		</div>
	</div>
</section>
