<section class="order">
	<div class="container order__container">
		<div class="order__content">
			<div class="order__side">
				<div class="order__textarea">
					<h2 class="title title__h2 order__title">Закажите настройку у партнеров Битрикс24</h2>
					<p class="order__descr">
						Этот вариант подходит для крупного бизнеса, который работает с большим объемом данных или
						нуждается в кастомной интеграции.
					</p>
					<p class="order__descr">
						Более 700 наших партнеров прошли проверку, подтвердили компетенцию «Интеграция с 1С» и помогли
						многим компаниям вывести работу с данными на другой уровень.
					</p>
				</div>
				<button class="btn-reset button__primary">Получить рассчет стоимости</button>
			</div>
			<img src="./img/order-image.png" class="image order__image" width="552" height="486" alt="Заказ" />
		</div>
	</div>
</section>
