<section class="setup">
	<div class="container setup__container">
		<h2 class="title title__h2 setup__title">Как настроить интеграцию</h2>
		<div class="setup__content">
			<iframe
				class="setup__video"
				width="943"
				height="530"
				src="https://www.youtube.com/embed/n7G1UFuAF3E?enablejsapi=1&amp;origin=https%3A%2F%2Fwww.bitrix24.ru"
				title="Цикл мастер-классов по настройке 1С:Бэкофис 2.0. Основы настройки модуля интеграции."
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen=""
				data-gtm-yt-inspected-1451531_1439="true"
				id="393731308"
			></iframe>
			<div class="setup__side">
				<div class="setup__textarea">
					<h2 class="title title__h2 setup__subtitle">Самостоятельная настройка</h2>
					<h5 class="title setup__subtitle-smaller">
						ТРЕБУЕТСЯ УЧАСТИЕ АДМИНИСТРАТОРА 1С И ДОСТУП АДМИНИСТРАТОРА В ВАШЕМ БИТРИКС24
					</h5>
					<ul class="list-reset setup__list">
						<li class="setup__item">
							<a class="setup__link" href="./guide.docx" download
								>Гайд по настройке для облачной версии Битрикс24</a
							>
						</li>
						<li class="setup__item">
							<a
								class="setup__link"
								href="https://dev.1c-bitrix.ru/learning/course/index.php?COURSE_ID=48&CHAPTER_ID=06829"
							>
								Документация для коробочной версии Битрикс24
							</a>
						</li>
					</ul>
					<p class="title setup__descr">
						Следите за обновлениями документации при самостоятельной настройке. За уточнениями обращайтесь в
						<a class="setup__link" href="https://helpdesk.bitrix24.ru/ticket.php">службу поддержки</a>.
					</p>
				</div>
				<a
					href="https://www.bitrix24.ru/apps/category/1c/?p=6571969"
					class="btn-reset button__primary setup__button"
				>
					Установить приложение
				</a>
			</div>
		</div>
	</div>
</section>
